/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */

select#inputCountry {
    line-height: initial;
}

.domain-check-availability {
    width: 140px;
}

.domain-checker-bg
{
	background-image: none;
}


#order-standard_cart .view-cart-items-header
{
	background-color: #2d8196;
}